#block-block-3  {

	.block-title , .description {
		text-align:center;
	}
	>p {
		padding:10px 0;
	}
	.description {
		color:gray;
	}
	
	.service {
		height:140px;
		padding:15px;
		background-color:rgb(0,0,0);
		background-color: rgba(0,0,0,0.5);
		color:white;
		
		box-sizing: border-box;
	
	}
	.services {
		background:url('../images/programming.png') 50% 50% no-repeat;
		background-size:cover; 
	}
}
