
.flexslider {
	margin: 0;
	 .slides img {
		width:auto;
	}
	.views-field-field-image {
		float:right;
	}
	
	.fieldset-top {
		position:absolute;
		top:0;
		height:100%;
		width:50%;
		@include breakpoint(max-width $breakpointwidth){
                width:100%;
                background:rgba(255,255,255,0.9);
        }
		
	}
	
	.views-field-title {
		font-size:25px;
		color:#0EBDEA;
		font-weight:bold;
		
		


	}
	.views-field-field-slogon {
	    margin-top:10px;
		font-size:18px;
	}
	
}